.Urgent{
    background-color: palevioletred;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    
}

.Regular{
    background-color: rgb(255, 208, 68);
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
}
.Trivial{
    background-color: rgb(76, 76, 252);
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
}
